@page
@model ParcelManagementApp.Pages.Parcels.DeleteModel

@{
    ViewData["Title"] = "Delete Parcel";
}

<h1>Delete Parcel</h1>

<h3>Are you sure you want to delete this parcel?</h3>
<div>
    <h4>Parcel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parcel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parcel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parcel.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parcel.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parcel.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parcel.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parcel.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parcel.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parcel.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parcel.Supplier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parcel.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parcel.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parcel.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parcel.Location)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Parcel.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="Index">Back to List</a>
    </form>
</div>